
body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.8;
  color: #363636;
}


div.cols .end {
  clear: both;
  height: 0;
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

table th {
  text-align: left;
}

table th,
table td {
  padding: 5px 15px;
  background-color: #f5f5f5;
}

h1 {
  font-size: 150%;
  margin-top: 20px;
}

h2 {
  font-size: 120%;
  margin-top: 20px;
}

p {
  max-width: 600px;
}

ul {
  list-style-type: square;
}

img {
  border: none;
}

input[type=text],
textarea {
  border: 1px solid lightgray;
  padding: 5px;
}

textarea {
  width: 300px;
  height: 180px;
}

a {
  color: #dc3912;
}

a:visited {
  color: #b82e12;
}

a:hover {
  color: #f43f14;
}
